// Присваивает шрифт логотипу и базовые свойства шрифта
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
// Присваивает цвет слову Web из логотипа
.logo-web {
  color: $accent-color;
}
// Присваивает цвет слову Studio из логотипа в шапке страницы
.logo-studio-header {
  color: $total-black;
}
// Присваивает цвет слову Studio из логотипа в подвале страницы
.logo-studio-footer {
  color: $total-white;
}
