// Присваивает шрифт логотипу и базовые свойства шрифта
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.192;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }
}

.h-logo {
  padding-top: 24px;
  padding-bottom: 25px;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

// Присваивает цвет слову Web из логотипа
.logo-web {
  color: $accent-color;
}
// Присваивает цвет слову Studio из логотипа в шапке страницы
.logo-studio-header {
  color: $total-black;
}
// Присваивает цвет слову Studio из логотипа в подвале страницы
.logo-studio-footer {
  color: $total-white;
}
