p {
  margin: 0;
  padding: 0;
}
// Добавляет фон в подвале страницы
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}
.footer-container {
  text-align: center;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767.9px) {
    flex-direction: column;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    // display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    padding-left: 76px;
    padding-right: 90px;
  }
}
.footer-container > div:not(:last-child) {
  @include for-size(desktop) {
    width: calc((50% - 45px) / 2);
    margin-right: 30px;
  }
}
.footer-container > div:last-child {
  @include for-size(desktop) {
    width: calc(50% - 15px);
    align-items: baseline;
  }
}

.logo-address,
.join-us {
  display: block;
  @media screen and (max-width: 1199.9px) {
    margin-bottom: 60px;
  }
}
// Убирает курсив в адресе
address {
  font-style: normal;
}
.address {
  margin-top: 14px;
}
// Стилизирует адрес студии в подвале страницы
.address-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $total-white;
}
// Стилизирует контакты студии в подвале страницы
.address-contact > a {
  display: block;
  margin-top: 9px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
// Стилизирует призыв к действию в подвале страницы
.join-title,
.subscribe-title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $total-white;
}

.subscribe {
  @media screen and (max-width: 1199.9px) {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.join-title,
.subscribe-title {
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.join-us,
.subscribe {
  align-items: baseline;
}

.footer > div:last-child {
  @include for-size(desktop) {
    width: calc(50% - 15px);
  }
}
