header {
  position: relative;

  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;

  @media screen and (max-width: 767.9px) {
    align-items: center;
    justify-content: space-between;
  }
}

.menu-container {
  z-index: 1;
  @media screen and (max-width: 767.9px) {
    display: none;

    padding-bottom: 60px;
    padding-top: 60px;

    background-color: $total-white;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

// Mobile menu button

.mobmenu-button {
  display: inline-flex;
  cursor: pointer;

  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
  .icon-mobmenu:hover,
  .icon-mobmenu:focus,
  .icon-close-mobmenu:hover,
  .icon-close-mobmenu:focus {
    fill: $accent-color;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobmenu-button .icon-close-mobmenu {
  display: none;
}

.mobmenu-button.is-open .icon-mobmenu {
  display: none;
}

.mobmenu-button.is-open .icon-close-mobmenu {
  display: block;
}
