.advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// Стилизирует h2-заголовок секции с преимуществами студии
.advantages-title {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-color;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  margin-top: 30px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list > li {
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages-icon-box {
  display: flex;
  height: 120px;
  background-color: $light-background-color;
  border-radius: 4px;
}

.advantages-icon {
  margin: auto;
}

// Стилизирует описание секции с преимуществами студии
.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $secondary-color;
  margin-top: 10px;
}
